/* Style file for home page.
This file requires the sass preprocessor to be executed to generate the corresponding .css file using the command:
   sass --watch homebuttons.scss:homebuttons.css  
*/
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

#mainpage {
  max-width: 85%;
  margin-left: 20px auto;
  margin-right: 20px auto;
  padding: 5px; }

#samplegraph, #videopanel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; }

.description {
  max-width: 600px;
  text-align: justify; }

#buttongroup {
  max-width: 600px;
  text-align: center;
  margin: auto; }

#startexploration {
  max-width: 600px;
  text-align: left;
  margin-bottom: 20px; }

body {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10;
  min-height: 100vh;
  background: #fff; }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin-right: 4px;
  margin-left: 4px;
  font-size: inherit;
  font-family: inherit; }
  button.learn-more {
    width: 18rem;
    height: auto; }
    button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #282936;
      border-radius: 1.625rem; }
      button.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff; }
        button.learn-more .circle .icon.arrow {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none; }
          button.learn-more .circle .icon.arrow::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg); }
    button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase; }
  button:hover .circle {
    width: 100%; }
    button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0); }
  button:hover .button-text {
    color: #fff; }

button p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 0;
  padding-bottom: 10px;
  margin-right: 2px;
  padding-right: 2px;
  margin-left: 2px;
  padding-left: 2px;
  max-width: 90%; }

@supports (display: grid) {
  /*body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.625rem;
  grid-template-areas: 
  ". main main ." 
  ". main main .";
  }*/
  #container {
    /* grid-area: main; */
    align-self: center;
    justify-self: center; } }

/*# sourceMappingURL=homebuttons.css.map */
