body {
    background-color: lightgray !important;
    font-family: verdana;
}

body,
html,
svg,
#container {
    /*z-index: 0;*/
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: verdana;
    overflow: hidden;
}


/* Style the bar of control buttons */

#controls {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    padding: 4px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 0.7em;
    box-shadow: 5px 5px 7px 3px gray;
}


#controls input {
    font-size: 1.125em
}

#controls input[type="button"],
#controls input[type="submit"] {
    font-size: 1.125em
}

#controls input[type=number] {
    width: 5em;
}



/* Style the property window */

#propertyPanel {
    position: absolute !important;
    font-size: 0.8em;
    height: 28%;
    width: 18%;
    left: 80%;
    top: 70%;
    min-width: 12%;
    min-height: 12%;
    overflow: hidden;
  }

#tabs {
    position:relative;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
}

.tabcontent {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
}

#accountTab {
    overflow: hidden;
}

#accountName {
    font-family: monospace;

    /** Select the whole name on click */
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

#propertyPanel hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


/* Style the table of transactions: */

#data-table {
    /*   z-index: 2; */
    /*position: absolute;*/
    /*max-height: 25%;*/
    position: relative;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 4px;
    font-family: verdana;
    font-size: 0.7em;
    width:100%;
    height:100%;
}

#data-table table {
    position: relative;
    border-collapse: collapse;
    width:100%;
    height:100%;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    word-break: break-all;
}

#data-table thead>tr>th {
    padding: 4px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

#data-table thead>tr:first-of-type {
    border-top: solid 1px lightgray;
}

#data-table tbody>tr>td {
    padding: 4px;
    text-align: left;
    font-family: monospace;
    font-size: 1.25em;
}

#data-table tbody>tr:hover {
    background-color: lightblue;
}

#data-table tr>td {
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

#data-table tr:last-of-type {
    border-bottom: solid 1px lightgray;
}


#version {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 1em;
}

form {
    display: inline;
}

.tzid {
    font-family: monospace;
}

.swap {
    font-size: 1em;
    border: none;
    background-color: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
