.figurelegend {
    font-family:Arial, Helvetica, sans-serif;font-weight: 100;
}

.alnright { text-align: right; }

.figurecaption {
    font-family: 'Courier New', Courier, monospace;font-weight: 100;
}


.legend {  
    max-width:700px;
    text-align: justify;
  }
  

dd { margin-bottom:12px;
}